<html lang="en">
<head>

        <meta charset="UTF-8">
        <title>博客</title>
        <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'bootstrap5/bootstrap.min.css' %}"></script>
</head>
<body>
<header class="p-3 text-bg-warning border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/static" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'image/logo.png' %}" alt="" height=40>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-2">
                <li><a href="#" class="nav-link px-2 text-secondary">First Page</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Public Blog</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..."
                       aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </div>
    </div>
</header>
<main class="container bg-white p-3 rounded  bg-white">
    <h1>Blog List</h1>
    <div class="row row-cols-2 row-gap-4">

        <div class="cols">
            <div class="card">
                <div class="card-header">
                    <a href="#">Django基础</a>
                </div>
                <div class="card-body" style="height: 100px;">

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="30" height="30"
                             alt="Yin">
                    </div>
                    <div>发布时间: 2024年6月29日 11:28</div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <a href="#">Django基础</a>
                </div>
                <div class="card-body" style="height: 100px;">

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="30" height="30"
                             alt="Yin">
                    </div>
                    <div>发布时间: 2024年6月29日 11:28</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <div class="card-header">
                    <a href="#">Django基础</a>
                </div>
                <div class="card-body" style="height: 100px;">

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="30" height="30"
                             alt="Yin">
                    </div>
                    <div>发布时间: 2024年6月29日 11:28</div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <a href="#">Django基础</a>
                </div>
                <div class="card-body" style="height: 100px;">

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="30" height="30"
                             alt="Yin">
                    </div>
                    <div>发布时间: 2024年6月29日 11:28</div>
                </div>
            </div>
        </div>

    </div>
</main>
</body>
</html>



 